*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

body{
    background: linear-gradient(180deg, #4200FF 0%, #0057FF 100%);
 
}

.modal{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 999;
  
}

#modal1,#modal2,#modal3,#modal4,#modal5,#modal6{
    display: none;

}


.box-modal{
    width: 50%;
    position: relative;
    top: 50px;
    left: 50%;
    margin-left: -25%;
}

.modal-animado{
    width: 100%;
    height: auto;
    background-color: white;
    
}

.fechar, .texto-animacao{
    cursor: pointer;
}

.fechar{
    color:white;
    float: right;
    position: relative;
    font-size: 34px;
    padding-bottom: 10px;
}

textarea{
    color: black;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}

textarea:focus{
    outline: none;

}


header h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding: 4vh 0;

    
}

section.conteiner{
    max-width: 708px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
 
  
    
}

.box-animacoes{
    max-width: 220px;
    width: 100%;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.17);
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    
}

.box-animacoes:hover{
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.5);
}

.animacao{
    display: flex;
    justify-content: space-around;
    width: 118px;
    height: 118px;
   
}

.texto-animacao{
   position: relative;
   top: 30px;
   font-size: 12px;
   transition: 0.5s;
}

.texto-animacao:hover{
    transition: 0.5s;
    font-size: 14px;
}

footer{
    width: 100%;
    background: #002779;
    font-size: 24px;
    text-align: center;
    color: white;
    margin-top: 27px;
    padding: 10px 0;
   
}

.conteiner-social{
    display: flex;
    justify-content: center;
    column-gap: 10px;

}

/* animações 1 */

.animado1{
    position: relative;
    top: 80%;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
    display: inline-block;
    animation: animado1-1 1s ease-in 0s infinite alternate forwards;

}

.animado1:nth-child(2){
    animation: animado1-2 1s ease-in 0.3s infinite alternate forwards;
}

.animado1:nth-child(3){
    animation: animado1-3 1s ease-in 0.6s infinite alternate forwards;
}

@keyframes animado1-1 {
    from{

       top:80%; 


    }

    to{

        top: 20%;

    }
    
}

@keyframes animado1-2 {
    from{

       top:80%; 


    }

    to{

        top: 20%;

    }
    
}

@keyframes animado1-3 {
    from{

       top:80%; 


    }

    to{

        top: 20%;

    }
    
}

/* 
animação 2 */

.animado2{
    position: relative;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100%;
    display: inline-block;
    animation: animado2-1 0.6s ease-in 0s infinite alternate forwards;
}

.animado2:nth-child(2){
    animation: animado2-1 0.6s ease-in 0.6s infinite alternate forwards;
}

@keyframes animado2-1 {

    to{
        transform: scale(170%);
    }
    
}

/* animação 3 */


.animado3{
    width: 100px;
    height: 100px;
    border-top: 3px solid white;
    border-radius: 100px;
    position:relative;
    top: 50%;
    margin-top: -50px;
    animation: animado3-1 1s normal 0.0s infinite linear forwards;
    
    
}

@keyframes animado3-1 {
    to{
    
       transform: rotate(360deg);
    
    }
    
}

/* animação 4 */

.animado4{
    width: 50px;
    height: 50px;
    background-color: white;
    position:relative;
    top: 50%;
    margin-top: -25px;
    animation: animado4-1 1s ease-in 0s infinite alternate-reverse forwards;
} 

@keyframes animado4-1 {


    to{
        border-radius: 100%;
        transform: rotate(740deg);
  
    }

}

/* animação 5 */

.animado5{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    animation: animado5-1 0.5s ease-in 0s infinite alternate-reverse forwards;

}

@keyframes animado5-1 {
    from{
        top:0px;

    }

    to{
        top:75px;
        height: 40px;
    }
    
}

/* animação 6 */

.animado6{
    position: relative;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
    animation: animado6-1 0.5s ease-in 0s infinite alternate-reverse forwards;
    
}

.animado6:nth-child(2){
    animation: animado6-1 0.5s ease-in 0.2s infinite alternate-reverse forwards;

}

.animado6:nth-child(3){
    animation: animado6-1 0.5s ease-in 0.4s infinite alternate-reverse forwards;

}

@keyframes animado6-1 {
    to{
        opacity: 0.3;
        transform: scale(120%);
        
    }
    
}




    